* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Baloo Chettan 2', cursive;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ff553c;
  border-radius: 20px;
}